*{
    margin: 0px;
    padding: 0PX;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    color: red;
}
.main{
    border: 2px solid rgb(34, 54, 34);
    border-radius: 20px;
    background-color: rgb(226, 184, 106);
    padding: 100px;
    height: 95%;
    box-shadow: 3px 4px 0px 0px rgb(38, 32, 32); 
}
input{
    cursor: pointer;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 20px;
    color: white;
    text-align: right;
    background-color: rgb(110, 93, 67);
}

button{
    border: none;
    border-radius: 10px;
    margin: 4px;
    width: 65px;
    height: 60px;
    margin-top: 50px;
    font-size: large;
    padding: 15px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.btn{
    background-color: orange;
}
.bt{
    background-color: white;
    color:black;
}
